Package: perfectcrypt
Version: 2.1.0
Architecture: amd64
Maintainer: Andreyanov Nikita Sergeevich <andreanov.nickita@yandex.ru>
Installed-Size: 16
Depends: cryptsetup-bin, libc6 (>= 2.25), libcrypt1 (>= 1:4.1.0), debconf (>= 0.5) | debconf-2.0
Enhances: cryptsetup-initramfs
Conflicts: cryptsetup-nuke-password
Section: admin
Priority: optional
Homepage: https://www.perfectcrypt.ru/github
Description: Emergency data destruction feature for LUKS volumes
 This package adds an emergency data destruction feature for LUKS encrypted volumes.
 .
 When the computer boots and asks for a password to decrypt the disk, entering
 the special password will immediately make the data inaccessible by wiping
 the LUKS volume keyslots instead of unlocking the disk.
 .
 To set up this special password, run after installation:
 sudo dpkg-reconfigure perfectcrypt
