#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	cp -r etc usr lib debian/perfectcrypt/ 2>/dev/null || true

override_dh_fixperms:
	find debian/perfectcrypt -type f -exec chmod 755 {} \; 2>/dev/null || true
	find debian/perfectcrypt/etc -type f -exec chmod 644 {} \; 2>/dev/null || true
	find debian/perfectcrypt/usr/share/doc -type f -exec chmod 644 {} \; 2>/dev/null || true
	find debian/perfectcrypt -type d -exec chmod 755 {} \; 2>/dev/null || true
